{{ define "main" }}
<article class="article">
  <div class="article-header">
    <a href="/articles/" class="back-button">← All Articles</a>
  
    {{ with .Params.project }}
      {{ $proj := site.GetPage (printf "projects/%s/index.md" .) }}
      {{ if $proj }}
        <a href="{{ $proj.RelPermalink }}" class="related-project-link">
          Related Project: {{ $proj.Title }} →
        </a>
      {{ end }}
    {{ end }}
  </div>

  <h1>{{ .Title }}</h1>
  <time>{{ .Date.Format "Jan 2, 2006" }}</time>

  <div class="content">
    {{ .Content }}
  </div>
</article>
{{ end }}
