{{ define "main" }}
<section class="projects">
  <h1>Projects</h1>

  {{ $projects := where .Pages "Type" "project" }}
  {{ $starred := where $projects "Params.starred" true }}
  {{ $others := where $projects "Params.starred" "ne" true }}

  <h2>⭐ Featured Projects</h2>
  <ul>
    {{ range sort $starred "Date" "desc" }}
      {{ partial "project-card.html" . }}
    {{ else }}
      <li>No featured projects yet.</li>
    {{ end }}
  </ul>

  <h2>All Projects</h2>
  <ul>
    {{ range sort $others "Date" "desc" }}
      {{ partial "project-card.html" . }}
    {{ else }}
      <li>No other projects yet.</li>
    {{ end }}
  </ul>

</section>
{{ end }}
