{{ define "main" }}
<main> 
  <h1>{{ .Title }}</h1>
  <em>{{ .Summary }}</em>


  <div class="content">
    {{ .Content }}
  </div>

  {{ $slug := .File.Dir | replaceRE "^projects/" "" | replaceRE "/$" "" }}

  <h2>Related Articles</h2>
  <ul>
    {{ $related := where site.RegularPages "Params.project" "==" $slug }}
    {{ range $related }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> <small>• {{ .Date.Format "Jan 2, 2006" }}</small></li>
    {{ else }}
      <li>No related articles yet.</li>
    {{ end }}
  </ul>
</main>
{{ end }}
