{{ define "main" }}
<section id="project"> 
  <div class="article-header">
    <a href="/projects/" class="back-button">← All Projects</a>
  </div>

  <h1>{{ .Title }}</h1>

  <div class="project-meta">
    {{ if .Params.starred }}
      <span>⭐ Featured Project</span>
    {{ end }}
    {{ with .Date }}
      <span>📅 Started: {{ .Format "Jan 1st, 2006" }}</span>
    {{ end }}
    {{ with .Params.end_date }}
      <span>🏁 Completed: {{ . }}</span>
    {{ end }}

    {{ with .Params.code_url }}
      <span><a href="{{ . }}" target="_blank" class="code-link">Code</a></span>
    {{ end }}
    {{ with .Params.demo_url }}
    <span><a href="{{ . }}" target="_blank" class="demo-link">Demo</a></span>
    {{ end }}
  </div>

  {{ with .Resources.GetMatch .Params.image }}
    <img src="{{ .RelPermalink }}" alt="{{ $.Title }} preview">
  {{ end }}

  <em>{{ .Summary }}</em>

  <hr>

  <div class="content">
    {{ .Content }}
  </div>

  <hr>

  {{ $slug := .File.Dir | replaceRE "^projects/" "" | replaceRE "/$" "" }}

  <h2>Related Articles</h2>
  <ul>
    {{ $related := where site.RegularPages "Params.project" "==" $slug }}
    {{ range $related }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> <small>• {{ .Date.Format "Jan 2, 2006" }}</small></li>
    {{ else }}
      <li>No related articles yet.</li>
    {{ end }}
  </ul>
</section>
{{ end }}
